:host { display: block; }

.slds-badge.cs-badge-red   { background: #fcebe8; color: #d23b2e; border: 1px solid #f4cfc9; }
.slds-badge.cs-badge-amber { background: #fbf3de; color: #b27508; border: 1px solid #eedfb4; }
.slds-badge.cs-badge-aqua  { background: #e9f1fc; color: #1265cf; border: 1px solid #cdddf3; }
