:host { display: block; }

.div-contact-cell {
    padding: 12px 14px;
}
.div-contact-role {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 700;
    margin-bottom: 3px;
}
