EXPO_PUBLIC_SF_CLIENT_ID=
EXPO_PUBLIC_SF_AUTH_URL=https://login.salesforce.com/services/oauth2/authorize
EXPO_PUBLIC_SF_TOKEN_URL=https://login.salesforce.com/services/oauth2/token
EXPO_PUBLIC_SF_INSTANCE_URL=https://loving.my.salesforce.com
EXPO_PUBLIC_SF_REDIRECT_URI=lovingforeman://oauth/callback
EXPO_PUBLIC_SF_USERNAME=
EXPO_PUBLIC_SF_USER_ID=
EXPO_PUBLIC_SF_ORG_ID=
EXPO_PUBLIC_SF_ACCESS_TOKEN=
EXPO_PUBLIC_WEX_API_BASE_URL=
EXPO_PUBLIC_RIPPLING_API_BASE_URL=
EXPO_PUBLIC_WEATHER_API_BASE_URL=
